<!DOCTYPE html>
{% load static %}
{% load china_tags %}
{% autoescape off %}
<html>
<head>
    <link type="text/css" href="{% static 'china/css/styles.css' %}" rel="stylesheet"/>
</head>
<body>
{% block mainmenu %}
<nav>
    {% for m in mainmenu %}
    <a href="{% url m.url_name %}">{{ m.title }}</a>
    {% endfor %}

    {% if user.is_authenticated %}

    <li class="last"><a href="{% url 'users:profile'%}">{{user.username}}</a> | <a href="{% url 'users:logout' %}">Выйти</a></li>
    {% else %}
    <a class="last" href="{% url 'users:login' %}">Войти</a> |
    <a href="{% url 'users:register' %}">Регистрация</a>
    {% endif %}


</nav>
{% endblock mainmenu %}


<div class="left-menu">
    <!-- Sidebar слева -->
    <td valign="top" class="left-chapters">
        <ul id="leftchapters">
            {% if cat_selected == 0 or cat_selected is None %}
            <li class="selected">Все
                категории
            </li>
            {% else %}
            <li><a href="{% url 'home' %}">Все
                категории</a></li>
            {% endif %}
            {% show_categories cat_selected %}

            <li>{% show_all_tags %}</li>
        </ul>
    </td>

    <!-- Конец Sidebar'а -->
</div>

<div class="main-content">
    <title>{{title}}</title>
    {{p.content|linebreaks|truncatewords:50}}
    {% block content %} {% endblock %}

</div>

{% block navigation %}
{% if page_obj.has_other_pages %}
<nav class="list-pages">
    {% if page_obj.has_previous %}
    <li class="page-num">
        <a href="?page={{page_obj.previous_page_number }}">&lt;</a>
    </li>
    {% endif %}

    {% for p in paginator.page_range %}
    {% if page_obj.number == p %}
    <li class="page-num page-num-selected">{{p}}</li>
    {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
    <li class="page-num">
        <a href="?page={{ p }}">{{p}}</a>
    </li>
    {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
    <li class="page-num">
        <a href="?page={{ page_obj.next_page_number}}">&gt;</a>
    </li>
    {% endif %}
</nav>
{% endif %}
{% endblock %}
{% endautoescape %}
</body>
</html>
